.comment-title-container {
  display: flex;
  justify-content: space-between;
  color: var(--text-content-main);
  border-bottom: 1px var(--text-content-second) solid;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

.comment-content-container {
  border-bottom: 1px var(--text-content-second) solid;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}
