.user-profile-page-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  color: white;
  margin-top: 3rem;
  font-family: var(--font-body);
}

.user-profile-page-title {
  margin-bottom: 2rem;
  font-family: var(--font-body);
  text-align: center;
  text-align: center;
  color: var(--text-header-main);
  font-size: 3rem;
}

.user-profle-page-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.user-profile-page-profile-content {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.user-profile-page-link {
  color: #bbcccd;
}
