.dropdown-parent {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.dropdown-container {
  position: absolute;
  background-color: var(--bg-main);
  left: -1.5rem;
  z-index: 100;
  width: fit-content;
  cursor: default;
  box-sizing: content-box;
}

.dropdown-links {
  list-style: none;
  margin-right: 1rem;
}

.dropdown-link-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.dropdown-link {
  color: var(--text-content-second);
  text-decoration: none;
}

.navbar-create-post {
  font-family: var(--font-body);
}

.navbar-create-post-nouser {
  font-family: var(--font-body);
}

@media (max-width: 500px) {
  .dropdown-container {
    top: 1.3rem;
  }
}
