.header-container {
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-around;
  height: 2rem;
}

.header-link {
  text-decoration: none;
}

.header-title {
  color: var(--text-header-main);
  font-family: var(--font-header);
  font-size: 1.1rem;
}
