.header-container {
  background-color: var(--bg-main);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 4rem;
}

.header-link {
  text-decoration: none;
}

.header-title {
  color: var(--text-header-main);
  font-family: var(--font-header);
  font-size: 1.1rem;
}

.header-title-short {
  display: none;
}

@media (max-width: 800px) {
  .header-title-short {
    display: block;
  }
}
