.comments-header {
  font-family: var(--font-body);
  color: var(--text-content-main);
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 4rem;
}

.comment-nouser-text {
  font-family: (var(--font-body));
  color: var(--text-content-main);
  padding-bottom: 1rem;
  cursor: pointer;
  width: fit-content;
}
