.rating-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0, 5rem;
  align-items: center;
  justify-content: center;
}

.rating-icon {
  cursor: pointer;
}

.rating-text {
  text-align: center;
  width: 2rem;
}

@media (max-width: 500px) {
  .rating-text {
    width: 1.5rem;
  }
}
