.login-container {
  position: absolute;
  border: 1px black solid;
  background-color: var(--bg-secondary);
  color: var(--text-content-main);
  font-family: var(--font-body);

  width: 25rem;
  height: 30rem;
  top: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  z-index: 100;
}

.login-close-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.login-close {
  user-select: none;
  cursor: pointer;
  width: fit-content;
  font-family: none;
}

.form-switch {
  padding-top: 1rem;
  cursor: pointer;
}
