.create-comment-container {
  margin-top: 4rem;
  max-width: 50rem;
}

.create-comment-text {
  color: var(--text-content-main);
}

.create-comment-button {
  width: fit-content;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem;
  background: none;
  border: 1px solid var(--text-content-main);
  color: var(--text-content-main);
  border-radius: 0.5rem;
  cursor: pointer;
}
