.create-comment-container {
  margin-top: 2rem;
  max-width: 50rem;
}

.create-comment-text {
  color: var(--text-content-main);
  cursor: pointer;
  user-select: none;
}

.create-comment-editor {
  max-height: 800px;
  transition: max-height 0.2s ease-out;
}

.create-comment-hidden {
  overflow-y: hidden;
  max-height: 0px;
}

.create-comment-button {
  width: fit-content;
  padding: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0.5rem;
  background: none;
  border: 1px solid var(--text-content-main);
  color: var(--text-content-main);
  border-radius: 0.5rem;
  cursor: pointer;
}

.create-comment-message {
  color: var(--text-content-main);
}
